.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

.product-container {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
}